// COLORS

$colors : (

  'black' : #333333,
  'purple' : #6B53FF,
  'gradient' : linear-gradient(90deg,#5318eb,#ab6ef9),
  'brown' : #f8f3e9,
  'yellow': #ebd72a
);





// FONT-SIZES

$size-h1 : (
  'large': 3.7rem,
  'medium': 2.7rem,
  'small': 2.6rem
);

$size-h2 : (
  'large': 3rem,
  'medium' : 2.5rem,
  'small' : 2rem,
);


// RADIUS

$radius: 6px;